@import "brands",
        "solid",
        "regular",
        "fontawesome";

@import 'config/typography',
        'config/animations';

$purple: rgba(62, 37, 111, 1);
$orange: rgba(207, 146, 74, 1);

@import "bulma";
@import "dist/css/bulma-extensions";

.container {
    width: 100%;
}

// .button {
//     .icon {
//         &:first-child:last-child {
//             margin-right: 0.5rem;
//         }
//     }
// }

.is-marginless {
    &-top {
        margin-top: 0 !important;
    }

    &-right {
        margin-right: 0 !important;
    }

    &-left {
        margin-left: 0 !important;
    }

    &-bottom {
        margin-bottom: 0 !important;
    }

    &-vertical {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    &-horizontal {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }
}

.form {
    &.signin {
        padding-top: 0;
        padding-bottom: 0;
        position: fixed;
        width: 100%;
        max-width: 320px;
        top: calc(20vh + 160px);
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        .label {
            color: $white;
        }
    }

    &.product-form {
        height: calc(100% - 60px);
        overflow: hidden;
        padding: 3rem 0 0;
        .help {
            padding: 0 0.5rem;
        }
        .action {
            background-color: $white;
            position: absolute;
            bottom: 0;
            padding: 12px 1.5rem 12px;
            transform: translateY(100%);
            width: 100%;
        }

        .field {
            .field {
                &:not(:last-child) {
                    margin-bottom: 12px;
                }
            }

            &s {
                padding: 0 1.5rem 0 0;
                height: 100%;
                overflow: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }

            &-body {
                &.is-block {
                    .field {
                        margin: 0 0 0.75rem;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .accordion {
            background: none;
            &-header {
                background: none;
                color: $grey-light;
                justify-content: center;
                position: relative;
                padding-left: 20%;
                cursor: pointer;
                user-select: none;
                p {
                    font-size: 12px;
                    position: relative;
                    z-index: 1;
                    background-color: $white;
                    padding: 0 1rem;
                }
                &:after {
                    z-index: 0;
                    content: '';
                    display: block;
                    height: 1px;
                    position: absolute;
                    width: 80%;
                    top: 50%;
                    left: 20%;
                    background-color: #dbdbdb;
                }
            }

            .accordion-body {
                border: none;
                .accordion-content {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        p {
            .loader {
                font-size: 6rem;
                margin: 0 auto;
                border-width: 12px;
            }
        }
    }
}

#header {
    background-color: $primary;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    transform: translateY(-100%);
    transition: all ease-out 0.5s;
    &.show {
        transform: translateY(0%);
        transition-delay: 0.5s;
    }
    .navbar {
        background: none;
        position: static;
        &-brand,
        &-burger {
            min-height: 4rem;
        }

        &-brand {
            a {
                color: $white;
                font-size: 1.5rem;
                i {
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

#footer {
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    min-width: 200px;
    background-color: $grey-darker;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 1s;

    .section {
        color: $white;
        height: 100%;
        padding: 20vh 1.5rem 56px;
        figure {
            margin: 0 auto 1rem;
            width: 100%;
            max-width: 120px;
            img {
                display: block;
            }
        }
        .menu {
            transition: all ease-in 0.5s;
            opacity: 0;
            visibility: hidden;
            transform: translateY(32px);
            margin-top: 1rem;
            li {
                a {
                    display: block;
                    padding: 0.5rem 0;
                    color: rgba($white, 0.3);
                    transition: color ease-out 0.3s;
                    i {
                        min-width: 18px;
                        margin-right: 1rem;
                    }

                    &:focus,
                    &:hover,
                    &.router-link-exact-active,
                    &.router-link-active:not(.is-home) {
                        color: $white;
                    }
                }
            }
        }
    }

    &.mini {
        width: 20%;
        .section {
            .menu {
                transition-delay: 0.2s;
                transform: translateY(0px);
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .footer {
        background-color: $grey-dark;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: $black-ter;
        a {
            transition: color ease-out 0.3s;
            color: $black-ter;
            &:focus,
            &:hover {
                color: $white;
            }
        }
    }
}

#shim {
    min-width: 200px;
    width: 20vw;
}

#charts {
    padding: 24px;
    height: 100vh;
    background-color: $purple;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 1.3s;
    &.auto {
        height: calc(50vh - 64px);
    }

    .title {
        color: $white;
        font-weight: normal;
    }

    .chart {
        height: calc(50vh - 154px);
        transition: all cubic-bezier(0.77, 0, 0.175, 1) 1.3s;
        canvas {
            display: block;
            height: 100% !important;
            width: auto !important;
        }
    }
}

.main-content {
    padding-top: 64px;
    header.columns {
        border-bottom: 1px solid #dbdbdb;
    }

    &.products {
        height: 100vh !important;
        .section {
            height: 100%;
            .container {
                height: 100%;
            }
            .pagination {
                transform: translateY(12px);
            }
        }
        .products {
            &__head {
                .columns {
                    margin-bottom: 0;
                    border-bottom: 1px solid #dbdbdb;
                }
            }

            &__body {
                position: relative;
                height: calc(100% - 101px);
                overflow: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                &__item {
                    user-select: none;
                    &:first-child {
                        margin-top: 0;
                    }
                    &:not(:last-child) {
                        border-bottom: 1px solid #dbdbdb;
                    }
                    &.is-unpublished {
                        position: relative;
                        font-style: italic;
                        background-color: rgba($danger, 0.2);
                    }
                }
            }

            &__head,
            &__body {
                .col {
                    &-update,
                    &-stock,
                    &-price {
                        width: 100px;
                        flex: none;
                    }

                    &-update {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.chart {
    position: relative;
}
