@import "brands",
        "solid",
        "regular",
        "fontawesome";

@import 'config/typography',
        'config/animations';

$purple: rgba(62, 37, 111, 1);
$orange: rgba(207, 146, 74, 1);

@import "bulma";
@import "dist/css/bulma-extensions";

.container {
    width: 100%;
}

// .button {
//     .icon {
//         &:first-child:last-child {
//             margin-right: 0.5rem;
//         }
//     }
// }

.is-marginless {
    &-top {
        margin-top: 0 !important;
    }

    &-right {
        margin-right: 0 !important;
    }

    &-left {
        margin-left: 0 !important;
    }

    &-bottom {
        margin-bottom: 0 !important;
    }

    &-vertical {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    &-horizontal {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }
}

.field {
    &.is-static {
        padding-top: 6px;
        line-height: 24px;
    }
}

.form {
    .field {
        .field {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    &.profile-form {
        margin-bottom: 3rem;
        .field {
            &-body {
                .field {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.signin {
        padding-top: 0;
        padding-bottom: 0;
        position: fixed;
        width: 100%;
        max-width: 320px;
        top: calc(20vh + 160px);
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        .label {
            color: $white;
        }
    }

    &.transaction-form,
    &.product-form {
        height: calc(100% - 60px);
        overflow: hidden;
        padding: 3rem 0 0;
        .help {
            padding: 0 0.5rem;
        }
        .action {
            background-color: $white;
            position: absolute;
            bottom: 0;
            padding: 12px 1.5rem 12px;
            transform: translateY(100%);
            width: 100%;
        }

        .field {

            &s {
                padding: 0 1.5rem 0 0;
                height: 100%;
                overflow: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }

            &-body {
                &.is-block {
                    .field {
                        margin: 0 0 0.75rem;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .accordion {
            background: none;
            &-header {
                background: none;
                color: $grey-light;
                justify-content: center;
                position: relative;
                padding-left: 20%;
                cursor: pointer;
                user-select: none;
                p {
                    font-size: 12px;
                    position: relative;
                    z-index: 1;
                    background-color: $white;
                    padding: 0 1rem;
                }
                &:after {
                    z-index: 0;
                    content: '';
                    display: block;
                    height: 1px;
                    position: absolute;
                    width: 80%;
                    top: 50%;
                    left: 20%;
                    background-color: #dbdbdb;
                }
            }

            .accordion-body {
                border: none;
                .accordion-content {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        p {
            .loader {
                font-size: 6rem;
                margin: 0 auto;
                border-width: 12px;
            }
        }
    }

    &.transaction-form {
        padding-top: 0;
    }
}

#header {
    background-color: $primary;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    transform: translateY(-100%);
    transition: all ease-out 0.5s;
    &.show {
        transform: translateY(0%);
        transition-delay: 0.5s;
    }
    .navbar {
        background: none;
        position: static;
        &-brand,
        &-burger {
            min-height: 4rem;
        }

        &-brand {
            a {
                color: $white;
                font-size: 1.5rem;
                i {
                    margin-right: 0.5rem;
                }
            }
        }
    }

    @media print {
        display: none;
    }
}

#footer {
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    min-width: 200px;
    background-color: $grey-darker;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 1s;

    .section {
        color: $white;
        height: 100%;
        padding: 20vh 1.5rem 56px;
        .current-user {
            margin: 0 auto 1rem;
            width: 100%;
            max-width: 120px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;

            img {
                display: block;
            }

            &.shake {
                animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
                perspective: 1000px;
            }

            &__action {
                transition: all ease-in 0.3s;
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 0;
                background-color: rgba($black, 0.8);
                transform: translateY(100%);
                color: $white;
                padding: .25rem 0;
                font-size: 12px;
            }

            &:hover {
                .current-user__action {
                    transform: translateY(0);
                }
            }
        }
        .menu {
            transition: all ease-in 0.5s;
            opacity: 0;
            visibility: hidden;
            transform: translateY(32px);
            margin-top: 1rem;
            li {
                a {
                    display: block;
                    padding: 0.5rem 0;
                    color: rgba($white, 0.3);
                    transition: color ease-out 0.3s;
                    i {
                        min-width: 18px;
                        margin-right: 1rem;
                    }

                    &:focus,
                    &:hover,
                    &.router-link-exact-active,
                    &.router-link-active:not(.is-home) {
                        color: $white;
                    }
                }
            }
        }
    }

    &.mini {
        width: 20%;
        .section {
            .menu {
                transition-delay: 0.2s;
                transform: translateY(0px);
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .footer {
        background-color: $grey-dark;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: $black-ter;
        a {
            transition: color ease-out 0.3s;
            color: $black-ter;
            &:focus,
            &:hover {
                color: $white;
            }
        }
    }

    @media print {
        display: none;
    }
}

#shim {
    min-width: 200px;
    width: 20vw;
    @media print {
        display: none;
    }
}

#charts {
    padding: 24px;
    height: 100vh;
    background-color: $purple;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 1.3s;
    &.auto {
        height: calc(50vh - 64px);
    }

    .title {
        color: $white;
        font-weight: normal;
    }

    .chart {
        height: calc(50vh - 154px);
        transition: all cubic-bezier(0.77, 0, 0.175, 1) 1.3s;
        canvas {
            display: block;
            height: 100% !important;
            width: auto !important;
        }
    }
}

.main-content {
    padding-top: 64px;

    header.columns {
        border-bottom: 1px solid #dbdbdb;
        align-items: flex-end;
        .subtitle {
            vertical-align: bottom;
            span {
                font-size: 12px;
            }
            strong {
                &.is-info {
                    color: $info;
                }
            }
        }
        @media print {
            display: none;
        }
    }

    &.discounts {
        header.columns {
            background-color: $white;
            position: sticky;
            top: 64px;
            z-index: 1;
        }
    }

    &.customers,
    &.profile,
    &.suppliers,
    &.sales,
    &.products {
        height: 100vh !important;
        .section {
            height: 100%;
            .container {
                height: 100%;
            }
            .pagination {
                transform: translateY(12px);
            }
            .misc-footer {
                align-items: flex-end;
                margin-top: 0;
                margin-bottom: 0;
                span, em {
                    line-height: 1;
                    &:first-child {
                        margin-right: 0.5em;
                    }
                }
                .is {
                    &-small {
                        font-size: 12px;
                        transform: translateY(-2px);
                    }

                    &-large {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }
        }

        .customers,
        .profile,
        .suppliers,
        .sales,
        .products {
            &__head {
                .columns {
                    margin-bottom: 0;
                    border-bottom: 1px solid #dbdbdb;
                    .column {
                        &.col {
                            &-stock,
                            &-price {
                                font-size: 11px;
                            }
                        }
                    }
                }
            }

            &__body {
                position: relative;
                height: calc(100% - 101px);
                padding-bottom: 1.5rem;
                overflow: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                &__item {
                    user-select: none;
                    &:first-child {
                        margin-top: 0;
                    }
                    &:not(:last-child) {
                        border-bottom: 1px solid #dbdbdb;
                    }
                    &.is-unpublished {
                        position: relative;
                        font-style: italic;
                        background-color: rgba($danger, 0.2);
                    }

                    .col {
                        &-amount {
                            i {
                                margin-right: 0.5em;
                            }
                        }

                        &-action {
                            .button {
                                pointer-events: none;
                            }
                        }

                        &-amount,
                        &-discount,
                        &-email {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }

            &__head,
            &__body {
                .col {
                    &-update,
                    &-stock,
                    &-price {
                        width: 100px;
                        flex: none;
                    }

                    &-stock,
                    &-price {
                        text-align: center;
                        font-size: 18px;
                        span {
                            font-size: 11px;
                        }
                        &.is-danger {
                            color: $danger;
                            font-weight: bold;
                            span {
                                font-weight: normal;
                            }
                        }
                    }

                    &-update {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .profile {
        &__body {
            height: 100% !important;
            .tabs {
                background-color: $white;
                position: sticky;
                top: 0;
                z-index: 1;
            }
        }
    }

    @media print {
        padding-top: 0;
        height: auto !important;
    }
}

.main-content.sales .sales__body__item.goods {
    .column {
        line-height: 27px;
    }
}

.chart {
    position: relative;
}

svg.barcode {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.discount-item {
    height: 100%;
    &s {
        &.columns {
            margin-top: 0;
        }
    }

    display: block;
    padding: .75rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    svg {

    }
}

.price-label {
    &s {

    }

    &__qr,
    &__content,
    &__price,
    &__content {
        border: 1px solid #000;
    }

    &__price,
    &__content {
        color: #000;
    }

    &__price {
        background-color: $red;
        border-right: none;
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        justify-content: center;
    }

    &__content {
        border-left: none;
        &.borderless-right {
            border-right: none;
        }
        .title,
        .subtitle {
            line-height: 1;
        }

        .title {
            color: #000;
        }

        .subtitle {
            margin-bottom: 0 !important;
        }
    }

    &__qr {
        border-left: none;
        &-code {
            position: relative;
            height: 100%;
            canvas {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                display: block;
                width: auto !important;
                height: 100% !important;
            }
        }
    }
}

.profile {
    .form-title {
        margin-bottom: 0.5rem !important;
        .column {
            &.title-col {
                align-items: center;
                display: flex;
            }
        }
    }

    hr {
        margin-top: 0;
    }
}

.transaction {
    &-finder {
        &.columns {
            align-items: center;
            justify-content: flex-end;
            .column {
                &.is-narrow {
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }
}

.ranking-finder {
    .field {
        .field:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

.modal {
    .message {
        &-foot {
            padding-bottom: 1.5rem;
        }
    }
}

#discount-dropdown {
    .dropdown-menu {
        left: auto;
        right: 0;
        z-index: 8;
    }
}

.main-content {
    &.customers,
    &.suppliers {
        .section {
            height: auto;
        }

        .sales,
        .suppliers,
        .products {
            &__head {
                position: sticky;
                top: 64px;
                z-index: 1;
                background-color: $white;
            }

            &__body {
                height: auto;
            }
        }
    }

    .navigation-container {
        position: fixed;
        z-index: 6;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $white;
        .shim {
            width: 20vw;
            height: 100%;
            min-width: 200px;
        }
        .pagination {
            padding: 0.75rem 1.5rem;
            transform: none !important;
        }
    }
}
